
/* Used in column divs to align content */
.tix-flex-center {
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	text-decoration:none;
	flex-wrap:wrap;
}

.black {
	background-color:black;
	color:white;
}

.gray {
	background-color:#8A8D8F;
	color:black;
}

.cherry {
	background-color:#990033;
	color:white;
}

.tix-btn {
	padding:20px 25px 20px 25px;
	border-radius:10px;
	text-decoration:none;
	font-weight:bold;
	transition: all .1s ease-in-out;
}

.tix-btn.cherry {
	background-color:#990033;
	color:white;
}

.tix-btn.black:hover {
	padding:20px 25px 20px 25px;
	border-radius:10px;
	text-decoration:none;
	transform: scale(1.1);
	background-color:white;
	border:4px solid black;
	color:black;
}

.tix-btn.gray:hover {
	padding:20px 25px 20px 25px;
	border-radius:10px;
	text-decoration:none;
	transform: scale(1.1);
	background-color:white;
	border:4px solid gray;
	color:gray;
}

.tix-btn.cherry:hover {
	padding:20px 25px 20px 25px;
	border-radius:10px;
	text-decoration:none;
	transform: scale(1.1);
	background-color:white;
	border:4px solid #990033;
	color:#990033;
}

.tix-disc {
	text-decoration:none;
	width:200px;
	height:200px;
	font-size:2em;
	word-wrap: normal;
	padding:10px;
	border-radius:50%;
	transition: all .1s ease-in-out;
	
}

.tix-disc:hover {
	transform: scale(1.1);
	background-color:black;
	color:#990033;
}

.tix-card {
	border:1px solid #d3d3d3;
	border-radius:.25rem;
	width:100%;
	
}

.tix-card:hover {
	cursor:pointer;
}

.tix-card-img.away-cincy{
	background-image:url('https://owlsports.com/images/2021/5/28/FB_SingleGameEvents_atCincinnati.jpg');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.away-USF{
	background-image:url('https://owlsports.com/images/2021/5/28/FB_SingleGameEvents_atUSF.jpg');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.away-ECU{
	background-image:url('https://owlsports.com/images/2021/5/28/FB_SingleGameEvents_atECU.jpg');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.away-tulsa{
	background-image:url('https://owlsports.com/images/2021/5/28/FB_SingleGameEvents_atTulsa.jpg');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
	
}

.tix-card-img.away-rutgers{
	background-image:url('https://owlsports.com/images/2021/6/2/FB_SingleGameEvents_atRutgers.jpg');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
	
}

.tix-card-img.away-akron{
	background-image:url('https://owlsports.com/images/2021/6/2/FB_SingleGameEvents_atAkron.jpg');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
	
}

.tix-card-content {
	padding:15px;
}

.tix-card-content b {
	font-size:22px;
	padding-bottom:20px;
}

@media screen and (min-width: 600px) {
	.horiz-scroll-mobile {
		flex-wrap:nowrap;
		overflow-x: auto;
	}
}

.horiz-scroll-mobile {
	flex-wrap:wrap;
	overflow-x:auto;
}

.disc-container a {
	padding:10px;
}

.tix-header {
	text-align: center;
	color: #990033;
	font-size: 4em;
	margin:0;
	font-family:"United Serif Condensed, serif";
	padding:10px;
}

.tix-header-3 {
	text-align: center;
	color: #990033;
	font-size: 2em;
	margin:0;
	font-family:"United Serif Condensed, serif";
	padding: 10px;
}

.diamond-bg {
	background-image:url("https://lh3.googleusercontent.com/pw/ACtC-3cCshVTWCGTCOr_u-Yv60UctVVXIsXMWAsAPkZEP9kfexJYBN2P91RI9rq0srbMTz-JlVZBV9MnvkZ16lz0C3BGpIUVN7YASAFidWzTWJAJgPpH1XvTbD8QyNCCWTJu9xCaO7GfjR2BDWP159ffstoY=s240-no?authuser=0");
}
		
.tix-modal {
	width:300px;
	height:500px;
	border-radius:20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position:fixed;
	top:50%;
	left:50%;
	right:50%;
	transform: translate(-50%, -50%);
	max-width:100%;
	z-index:1010;
}

.tix-modal-top {
	width:100%;
	height:400px;
	border-top-left-radius: 20px;
	border-top-right-radius:20px;

}

.tix-modal-bot {
	width:100%;
	height:100px;
	background-color: whitesmoke;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.tix-modal-btn {
	width:75%;
	padding:5px 10px;
	border-radius:15px;
	cursor:default;
	transition: all .1s ease-in-out;
}

.tix-modal-btn:hover{
	cursor:pointer;
	text-decoration:none;
	transform: scale(1.1);
}

.tix-modal-overlay {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5);
	opacity: .7;
}	
	
.tix-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tix-tooltip .tix-tooltiptext {
  visibility: hidden;
  width: auto;
  min-width: 400px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
 
  /* Position the tooltip text! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tix-tooltip:hover .tix-tooltiptext {
  visibility: visible;
}

.tix-no-bullet {
	list-style-type:none;
}

.tix-table {
	text-align:center;
	margin:auto;
	margin-top:15px;
	margin-bottom:15px;
	border-collapse: collapse;
	border:none;
	padding: 15px;
}
	
.tix-table tr,td,th {
	border:2px solid gray;
	padding:.33rem;
}
	
.tix-table-title {
	border:none;
	background-color:#990033;
	color:white;
	font-size:18px;
}
	
.tix-table th {
	background-color:lightgray;
}

.tix-no-bullet li span {
	position:relative;
	left:-10px;
}

	
@media only screen and (max-width: 650px) {
	tix-mob-remove {
		display:none;
	}	
}


.tix-header-3 {
	font-family: United Serif Condensed, serif;
}

.tix-header-1 {
	font-size: 72px;
	font-color:black;
	font-weight:bold;
	text-align:center;
	font-family: United Serif Condensed, serif;
}
  		
/*		mb single card images*/

.tix-card-img.mb-UMES{
	background-image:url('https://owlsports.com/images/logos/Maryland-Eastern-Shore.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.mb-USC{
	background-image:url('https://owlsports.com/images/logos/Southern_Cal.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.mb-delaware{
	background-image:url('https://owlsports.com/images/logos/Delaware.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.mb-LaSalle{
	background-image:url('https://owlsports.com/images/logos/j17.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;

}
.tix-card-img.mb-Penn{
	background-image:url('https://owlsports.com/images/logos/penn_200x200.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.mb-UCF{
	background-image:url('https://owlsports.com/images/logos/UCF.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.mb-Drexel{
	background-image:url('https://owlsports.com/images/logos/f9.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.mb-DelSt{
	background-image:url('https://owlsports.com/images/logos/Delaware-State.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;

}
.tix-card-img.mb-Houston{
	background-image:url('https://owlsports.com/images/logos/houston.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.mb-ECU{
	background-image:url('https://owlsports.com/images/logos/East-Carolina.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.mb-WSU{
	background-image:url('https://owlsports.com/images/logos/Wichitia-State.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.mb-Cincy{
	background-image:url('https://owlsports.com/images/logos/University-of-Cincinnati.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;

}
.tix-card-img.mb-Tulsa{
	background-image:url('https://owlsports.com/images/logos/tulsa_logo.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.mb-SMU{
	background-image:url('https://owlsports.com/images/logos/Southern-Methodist-University.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.mb-Tulane{
	background-image:url('https://owlsports.com/images/logos/Tulane-Wave.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.mb-USF{
	background-image:url('https://owlsports.com/images/logos/South_Florida.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;

}	
/*		Wb single card images*/
.tix-card-img.wb-SFU{
	background-image:url('https://owlsports.com/images/logos/St_Francis_PA.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.wb-StJohns{
	background-image:url('https://owlsports.com/images/logos/Saint_Johns.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.wb-Bucknell{
	background-image:url('https://owlsports.com/images/logos/bucknell_logo.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.wb-LaSalle{
	background-image:url('https://owlsports.com/images/logos/j17.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;

}
.tix-card-img.wb-Princeton{
	background-image:url('https://owlsports.com/images/logos/Princeton_Tigers.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.wb-StJoes{
	background-image:url('https://owlsports.com/images/logos/ST_Joseph.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.wb-ODU{
	background-image:url('https://owlsports.com/images/logos/OldDominion.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.wb-UCF{
	background-image:url('https://owlsports.com/images/logos/UCF.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;

}
.tix-card-img.wb-Houston{
	background-image:url('https://owlsports.com/images/logos/houston.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.wb-ECU{
	background-image:url('https://owlsports.com/images/logos/East-Carolina.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.wb-WSU{
	background-image:url('https://owlsports.com/images/logos/Wichitia-State.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.wb-Cincy{
	background-image:url('https://owlsports.com/images/logos/University-of-Cincinnati.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;

}

.tix-card-img.wb-SMU{
	background-image:url('https://owlsports.com/images/logos/Southern-Methodist-University.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.wb-Tulane{
	background-image:url('https://owlsports.com/images/logos/Tulane-Wave.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;
}

.tix-card-img.wb-USF{
	background-image:url('https://owlsports.com/images/logos/South_Florida.png');
	background-size:cover;
	min-height:250px;
	background-position:center;
	background-color:#ccc;

}
